#navbar {
	display: flex;
	justify-content: flex-end;
	gap: 3rem;
	padding: 1rem 2rem;
}

a {
	text-decoration: none;
	color: black;
	font-size: large;
}
#body {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: large;
}
